@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
body {
    margin-left: 3em;
    margin-right: 3em;
}

.event_right_container_pic {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle();
    -webkit-animation: grow 2s 1;
}

.cirkel_orange .event_picture {
    clip-path: circle();
    height: 90%;
    object-fit: cover;
    z-index: 1;
    top: 5%;
    overflow: hidden;
}

.cirkler {
    border-width: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130%;
    z-index: -2;
    filter: blur(10px);
}

.cirkel_brun {
    border-radius: 50%;
    height: 55vh;
    width: 55vh;
    top: 10vh;
    left: 25vh;
    position: relative;
    background: #563727;
    -webkit-animation: grow 2s 1;
}

.cirkel_content {
    hyphens: auto;
    margin: 0.75em;
    text-align: center;
}

.info-shit {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
}

.info-shit p {
    color: #DE9E48;
    font-weight: 300;
    font-size: 20px;
}

.info-shit h2 {
    text-align: center;
    color: #DE9E48;
    font-weight: 600;
    margin-left: 4em;
    margin-top: 2em;
}

@supports (shape-outside: circle(50%)) {
    .cirkel_content {
        height: 100%;
        margin: 0;
    }
    .cirkel_brun::before,
    .cirkel_content::before {
        content: "";
        height: 100%;
        width: 50%;
    }
    .cirkel_brun::before {
        float: left;
        shape-outside: polygon(-1px -1px, 91.97% -2px, 51.65% 4.67%, 20% 20%, 10% 28.2%, 5% 34.4%, 0px 50%, 5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0px 100%);
    }
}

.cirkel_content::before {
    float: right;
    shape-outside: polygon(100% 0px, 0px 0px, 31.33% 1.84%, 54.18% 7.14%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%, 95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 2px 100.94%, 100% 100%);
}

.cirkel_orange {
    border-width: 0px;
    position: absolute;
    left: 90vh;
    top: 20vh;
    width: 60vh;
    height: 60vh;
    display: flex;
}

.cirkel_orange img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60vh;
    height: 60vh;
    -webkit-animation: grow 2s 1;
}

.cirkel_gul {
    border-width: 0px;
    position: absolute;
    left: 85vh;
    top: 75vh;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cirkel_gul a {
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    color: #372C2E;
}

.cirkel_gul img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    -webkit-animation: grow 2s 1;
    filter: invert(58%) sepia(69%) saturate(1194%) hue-rotate(360deg) brightness(102%) contrast(104%);
}

.socials {
    visibility: hidden;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale( 0);
        -moz-transform: scale( 0);
        -o-transform: scale( 0);
        -ms-transform: scale( 0);
        transform: scale( 0);
    }
    50% {
        -webkit-transform: scale( 1);
        -moz-transform: scale( 1);
        -o-transform: scale( 1);
        -ms-transform: scale( 1);
        transform: scale( 1);
    }
    100% {
        -webkit-transform: scale( 0.8);
        -moz-transform: scale( 0.8);
        -o-transform: scale( 0.8);
        -ms-transform: scale( 0.8);
        transform: scale( 1);
    }
}

.event_container_top {
    display: flex;
    text-align: center;
    flex-direction: column;
}