@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
body {
    margin-left: 3em;
    margin-right: 3em;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-auto-rows: min-content;
    gap: 3em 7em;
    margin: 0 15em;
    padding-top: 3em;
}

.card:hover {
    padding: 0;
}

.card__desc:hover {
    background-color: #a27131;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 1em;
}

.lorteknap {
    align-self: center;
}

.card__pic {
    min-height: 20vh;
    overflow: hidden;
    width: 100%;
    border-radius: 17px;
}

.thumbnail-pics {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
}

.event_date {
    height: 100%;
}

.card__desc {
    font-family: 'Source Sans Pro', sans-serif;
    color: #372C2E;
    background-color: #D89947;
    border-radius: 17px;
    width: 18vh;
    height: 5vh;
    padding-top: 12px;
    text-align: center;
    font-weight: 300;
    align-self: center;
}

.card__title {
    font-family: 'Source Sans Pro', sans-serif;
    color: #DE9E48;
    list-style: none;
    padding-top: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.event_date {
    font-family: 'Source Sans Pro', sans-serif;
    color: #DE9E48;
    font-size: 16px;
    font-weight: 300;
}

.side_tal {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    gap: 2em;
    padding-top: 1em;
}

.side_tal a [tabindex]:focus {
    color: black;
    border-radius: 50%;
    border: solid 1px black;
    padding: 0 10px;
}

.side_tal a {
    color: black;
    border: solid 1px black;
    border-radius: 50%;
    padding: 0 10px;
}

.side_tal a:active {
    color: black;
    border-radius: 50%;
    border: solid 1px black;
    padding: 0 10px;
}