@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
body {
    margin-left: 3em;
    margin-right: 3em;
}

.wrapper {
    justify-content: center;
    padding: 2em;
    padding-top: 0;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 330px 330px 330px;
    grid-gap: 1.5em;
    grid-row-gap: 1em;
}

.card {
    display: flex;
    justify-content: center;
    height: 25rem;
    padding: 2em;
}

.card:hover {
    padding: 1em;
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card a {
    text-decoration: none;
}

.card__pic {
    height: 200px;
    overflow: hidden;
    border-radius: 17px;
    border: 2px solid #372C2E;
    width: 100%;
}

.card__pic:hover h1 {
    visibility: visible;
    z-index: 2;
    position: relative;
}

.card__pic h1 {
    position: relative;
    text-align: center;
    left: -100%;
    transform: translatex(140%);
    color: white;
    visibility: hidden;
}

.thumbnail-pics {
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    align-items: center;
}

.card__genre {
    font-weight: bold;
    font-size: 3vh;
    display: flex;
    place-content: space-between;
    font-family: 'Source Sans Pro', sans-serif;
    color: #DE9E48;
}

.card__title {
    font-family: 'Source Sans Pro', sans-serif;
    color: #DE9E48;
    list-style: none;
    padding-top: 1em;
}

.event_date {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #DE9E48;
    font-size: 16px;
}

.card__desc {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #372C2E;
    background-color: #D89947;
    border-radius: 17px;
    width: 140px;
    height: 40px;
    padding-top: 10px;
}

.card__desc:hover {
    background-color: #b77d32;
}

.card__body {
    max-height: 400px;
}