@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #372C2E;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    height: 120px;
    border-bottom: 2px solid white;
    font-weight: 300;
    text-transform: uppercase;
}

.nav-list .list-item {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
}

.nav-list {
    padding-right: 15rem;
}

.navbar a {
    text-decoration: none;
    letter-spacing: 3px;
    color: #DE9E48;
}

.navbar a:hover {
    color: #FED136;
}

.logo {
    height: fit-content;
    width: 25em;
}

.cirkler {
    border-width: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    z-index: -2;
    overflow: hidden;
}

.cirkel_1 {
    border-width: 0px;
    position: absolute;
    left: -120px;
    top: -120px;
    width: 642px;
    height: 642px;
    display: flex;
}

.cirkel_1 img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 642px;
    height: 642px;
}

.cirkel_2 {
    border-width: 0px;
    position: absolute;
    left: 130vh;
    top: 20vh;
    width: 642px;
    height: 642px;
    display: flex;
}

.cirkel_2 img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 642px;
    height: 642px;
}

.cirkel_3 {
    border-width: 0px;
    position: absolute;
    left: 40vh;
    top: 60vh;
    width: 642px;
    height: 642px;
    display: flex;
}

.cirkel_3 img {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 642px;
    height: 642px;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    left: 87%;
    top: 93%;
    color: #715720;
    position: fixed;
}

.socials img {
    height: 4vh;
    filter: invert(30%) sepia(74%) saturate(415%) hue-rotate(3deg) brightness(96%) contrast(89%);
}

.socials p {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.intether {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}


/* ---- EVENT ---*/