@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
html {
  font-family: "Fredoka", sans-serif;
}

body {
  background: #f2f2f2;
  margin: 0;
}

.block-top {
  width: 100%;
  height: 3.5em;
}

.navbar {
  background: white;
  padding: 1em;
  position: fixed;
  width: 100%;
}

.navbar .homeknap {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  margin-left: 1rem;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  width: 95%;
}

.mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section .subhead {
  font-size: 1.4em;
  font-weight: bold;
}

.hero {
  text-align: left;
  background: lightblue;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.link-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    height: auto;
    width: 100%;
    position: unset;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.link-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: red;
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
    border: 3px solid red;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: red;
    color: white;
  }
}

@media only screen and (min-width: 1200px) {
  .event-all {
    max-height: 70vh;
    gap: 0;
    max-width: 75em;
    padding-left: 100%;
    padding-right: 100%;
  }
  .event-all .event-picture {
    max-width: 30em;
  }
  .event-all .event-name {
    max-width: 36.5em;
  }
}
/*----------------------------------------- HOME PAGE -------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 5px;
  grid-row-gap: 5px;
}

/*
.thumbnail-pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}
.text-over {
  position: relative;
}
.text-over figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color: white;
  margin-bottom: 35%;
  font-size: x-large;
}
.divimg {
}
*/
.card {
  border: 2px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25rem;
  overflow: scroll;
}

.card__pic {
  padding: 1rem;
}

.thumbnail-pics {
  -o-object-fit: cover;
  object-fit: cover;
  height: 12rem;
  width: 100%;
}
.card__genre {
  font-weight: bold;
  font-size: 3vh;

.card__desc {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.card__desc {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: auto;
  border: 2px solid black;
  max-height: 10rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card_genre_date {
  display: flex;
  margin: -1rem 1.5rem 0 1.5rem;
  place-content: space-between;
}
.card_date {
}
.event_date {
  font-size: 16px;
  white-space: nowrap;
}
.event_genre {
  font-size: 16px;
}

/*----------------------------------------- EVENT PAGES -------------------------------------*/
.knapper-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 4em;
}

.knapper-user .delete-event,
.knapper-user .update-event {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  text-shadow: none;
  margin: 0 1em 1em;
}

.knapper-user .delete-event:hover,
.knapper-user .update-event:hover {
  background: #004369;
}

.event-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #00009e;
  width: 100%;
}

.event-all .event-picture {
  padding: 3em 3em 0;
}

.event-all img {
  width: 100%;
}

.event-all .event-name {
  font-size: 1.7rem;
  margin: 1em;
  color: white;
  text-transform: uppercase;
}

.event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.event-content p {
  margin: 1em 1.5em;
  text-align: left;
}

.billet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  border-bottom: 1px solid black;
}

.billet .billetkob {
  padding: 1em 1.5em;
  background-color: red;
  text-transform: uppercase;
  border-left: 1px solid black;
}

.billet .billetkob svg {
  float: right;
  width: 1.6em;
  margin-left: 0.5em;
  -webkit-transform: translateY(-0.1em);
          transform: translateY(-0.1em);
}

.billet p {
  margin: 1em 1.5em;
}

@media only screen and (min-width: 768px) {
  .event-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .event-all .event-picture {
    padding-bottom: 3em;
    width: 40%;
  }
  .event-all .event-picture img {
    float: right;
    width: 100%;
  }
  .event-all .event-name {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 7em;
  }
}

/*----------------------------------------- EVENT PAGES CREATION-------------------------------------*/
.opret_event_title {
  padding: 10px;
  margin: 1.2em;
}

.opret_event_content {
  padding: 10px;
  margin: 1.2em;
}

.thumbnail_label {
  padding: 10px;
  margin: 1.2em;
}

.opret_event_thumbnail {
  padding: 10px;
  margin: 1.2em;
}

.event_picture_label {
  padding: 10px;
  margin: 1.2em;
}

.opret_event_picture {
  padding: 10px;
  margin: 1.2em;
}

.opret_event_submit {
  padding: 10px;
  margin: 1.2em;
}
/*# sourceMappingURL=main.css.map */
