<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {%block style%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/main.css') }}" /> {%endblock style%}
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a href="/" class="homeknap">Home</a>
            <img class="mobile-menu" id="mobile-cta" alt="menu" src="{{ url_for('static',filename='images/menu.svg') }}" />
            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="{{ url_for('static',filename='images/exit.svg') }}" alt="" />
                <ul class="link-nav">
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Om os</a></li>
                </ul>
                <ul class="login-nav">
                    <li class="go-premium-cta"><a href="#">Log Ind</a></li>
                    <li><a href="{{ url_for('opret')}}">Opret Bruger</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        const mobileBtn = document.getElementById("mobile-cta");
        nav = document.querySelector("nav");
        mobileBtnExit = document.getElementById("mobile-exit");

        mobileBtn.addEventListener("click", () => {
            nav.classList.add("menu-btn");
        });

        mobileBtnExit.addEventListener("click", () => {
            nav.classList.remove("menu-btn");
        });
    </script>
    {%block content%} {%endblock%}
</body>

</html>