{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/event.css') }}" /> {% if post.author == current_user %}

<form action="{{ url_for('delete_post', event_id=post.id) }}" method="POST">
    <input type="submit" value="Slet Event" class="delete-event" />
</form>
<form action="{{ url_for('update_event', event_id=post.id) }}" method="POST">
    <input type="submit" value="Opdater Event" class="update-event" />
</form>
{% endif %}
<section class="event_container_top">
</section>
{% if post.event_picture %}
<div class="cirkler-event">
    <div class="cirkel_orange">
        <img class="event_picture" src="{{ url_for('static', filename='pictures/' + post.event_picture) }}" alt="" />
        <img class="logo" src="{{ url_for('static',filename='images/u8.svg') }}" alt="">
    </div>
    {% endif %}



    <div class="info-shit">
        <h2 class="event_title">{{ post.title }}</h2>
        <div class="cirkel_brun">

            <p class="cirkel_content">{{ post.content }}</p>
        </div>
    </div>

    <div class="cirkel_gul">
        <a href="{{ ''.join([post.link]) }}"><img class="logo" src="{{ url_for('static',filename='images/u9.svg') }}" alt=""></a>
        <a href="{{ ''.join([post.link]) }}">KØB</a>
    </div>
</div>
{% endblock %}