<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {%block style%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/main.css') }}" /> {%endblock style%}
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('home') }}"><img class="logo" src="{{ url_for('static',filename='images/logo.svg') }}" alt=""></a>
        <ul class="nav-list">
            <li class="list-item"><a href="{{ url_for('home')}}">Hjem</a></li>
            <li class="list-item"><a href="{{ url_for('omos')}}">Galleri</a></li>
            <li class="list-item"><a href="{{ url_for('tilkunstneren')}}">Til Kunstneren</a></li>
            <li class="list-item"><a href="{{ url_for('omos')}}">Om Os</a></li>
            <li class="list-item"><a href="{{ url_for('kontakt')}}">Kontakt</a></li>
        </ul>
    </nav>
    <div class="cirkler">
        <div class="cirkel_1">
            <a href="#"><img class="layoutcirkel" src="{{ url_for('static',filename='images/u7.svg') }}" alt=""></a>
        </div>

        <div class="cirkel_2">
            <a href="#"><img class="layoutcirkel" src="{{ url_for('static',filename='images/u8.svg') }}" alt=""></a>
        </div>
        <div class="cirkel_3">
            <a href="#"><img class="layoutcirkel" src="{{ url_for('static',filename='images/u9.svg') }}" alt=""></a>
        </div>
    </div>
    <!----
    <div class="navbar">
      <div class="container">
        <a href="{{ url_for('home') }}" class="homeknap">
          <img src="{{ url_for('static',filename='images/u52.png') }}" alt="" style="  width:355px; height:156px; align-self:center;">
        </a>
        <img
          class="mobile-menu"
          id="mobile-cta"
          alt="menu"
          src="{{ url_for('static',filename='images/menu.svg') }}"
        />
        <nav>
          <img
            id="mobile-exit"
            class="mobile-menu-exit"
            src="{{ url_for('static',filename='images/exit.svg') }}"
            alt=""
          />
          <ul class="link-nav">
            <li><a href="#">Kontakt</a></li>
            <li><a href="{{ url_for('omos')}}">Om os</a></li>
          </ul>
          {% if current_user.is_authenticated %}
          <ul class="login-nav">
            <li class="go-premium-cta">
              <a href="{{ url_for('opret_event')}}">Opret Event</a>
            </li>
            <li><a href="{{ url_for('home')}}">Profil</a></li>
            <li><a href="{{ url_for('logout')}}">Log ud</a></li>
          </ul>
          {% else %} {% endif %}
        </nav>
      </div>
    </div>

    <script>
      const mobileBtn = document.getElementById("mobile-cta");
      nav = document.querySelector("nav");
      mobileBtnExit = document.getElementById("mobile-exit");

      mobileBtn.addEventListener("click", () => {
        nav.classList.add("menu-btn");
      });

      mobileBtnExit.addEventListener("click", () => {
        nav.classList.remove("menu-btn");
      });
    </script>
    --->
    <div class="socials">
        <p>Find os her:</p>
        <a href="https://www.instagram.com/abzalonevent9000/">
            <img src="{{url_for('static',filename='images/instagram-svgrepo-com.svg')}}" alt="" class="insta_svg"></a>
        <a href="https://www.facebook.com/AbZalon-Event-Factory-101134845210570">
            <img src="{{url_for('static',filename='images/facebook-svgrepo-com.svg')}}" alt="" class="face_svg"></a>
    </div>
    {%block content%} {%endblock%}

</body>

</html>