{% extends 'layout.html' %}{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/opret.css') }}" />
<div class="wrapper">
    <form action="" method="POST" enctype="multipart/form-data" class="opret-event">
        {{form.hidden_tag()}}
        <div class="venstre_side"> {{form.link(class="opret_event_title")}} {{form.event_date(class="opret_event_date")}} {{form.title(class="opret_event_content")}} </div>
        <div class="hojre_side">
            <div class="thumbnail">{{form.thumbnail.label(class="thumbnail_label")}} {{form.thumbnail(class="opret_event_thumbnail")}}</div>
            <div class="event_picture">{{form.event_picture.label(class="event_picture_label")}} {{form.event_picture(class="opret_event_picture")}}</div>{{form.content(class="opret_event_content")}}</div> {{form.submit(class="opret_event_submit")}}
    </form>
</div>
{% endblock content %}